---
layout: post
title: Makerbot Cupcake CNC
---

<p> At saturday 15 i went pick up my makerbot cupcake cnc package, i was waiting for it  long time, it was great to know soon, i'll join 3D printer revolution and in near future i'll build a Self Replicant Machine called RepRap</p

<p> Is not just a toy, is more than that, is a small free/libre factory in my desk, wich will give me autonomy to build stuff, and in a future may be computers chips and more. So far is mostly assembled, i just make some mistakes, one,  i cracked the tiny thermistor, so i had ordered a new one but must wait until arrives to start printing, so, in the mean time i'll make some software test, arrange cables, and try to fix an endstop wich i think i damaged by mistake too :P</p>

<p> So, this is my big blog post so far, because i'm so happy and proud of a future wich will involve free software, factories and networks, why?, not just for me and get fun, wich btw is good, but also to support develop in my conutry, allow people access to knowledge and then play with it as i do, and then make a better society posible, in wich every one could be free to learn, live, play and share with others. <p/>


<p> <a href="http://www.kristianpaul.org/gallery/makerbot"> Cupcake Pics</a></p>
