---
layout: post
title: XMOS Kit - at Home
---

<p> Finally today, when i think that it may be just was lost, after two moths waiting, it is here, is the XMOS XC-1 kit for my project "XMOS at Home" wich i hopefullty will document on my wiki soon, post more pictures and blog entries</p

<p> XMOS is a company wich make a new multi core chip wich could change how we work right know with embedded devices, this chip is multi thread capable, XC-1  kit by example can speed up to  1600MIPS, wich is fantastic and have 60pins I/O :D, well, there are lots applications areas like robotics, audio, LED signs and Displays, and of course networking. Also in some way XMOS chips can replace FPGA in some areas, cause you can get software modules to implement ethernet cores, usart, i2c, memory controllers and more as you know is posible on FPGA.</p>

<p>My project is about bring XMOS at HOME, how?, well, i want to control lights (hopefully LED based) and mix it with background sounds, and if is posible connect it to the internet. So i just domotics stuff. Now i must start buying some LEDS, and Audio stuff, but i really hope XMOS could sell those addons too, so i can improve and add it to my kit faster.</p>

<p>There is big issue too, is that some software components in XMOS Sofware are not free software, thats too bad cause my laptop is mips based, and due there is no source code i cant compile it and devel from the netbook, so,  asking at xmos irc i get this answer "If/when we get XC working fine on LLVM then I expect it will (have to) be open sourced properly and easier to port to other back-ends as well", thats really great :), i hope will be true in a near future (i really need it), but is the same issue with FPGA Softare too, i know patents are there, but if we free the source, the improvements that will get  and benefits are really big, like gnu/linux is so far.</p> 

<p>Now i have the Makerbot Cupcake 3D printer may be i can make some stuff, at least cases for xmos too btw :) </p>

<p> <a href="http://www.kristianpaul.org/gallery/xmos"> KC-1 Pics</a></p>
<p> <a href="http://192.168.1.14/pmwiki/index.php?n=Projects.DigitalElectronics"> Wiki</a></p>
<p> <a href="http://www.xmos.com"> Xmos Website</a></p>
