---
layout: post
title: Making a simple (stupid) counter core for the Milkymist
---


Some time ago i started to get in touch with Milkymist code, mostly because wanted to understand verilog modeling part wich call my atention as
this project brings a well made Copyleft SoC (Free Computers yay !).
<br>
<br>

I started reading Sebastien Bourdeauducq <a href="http://www.milkymist.org/thesis/thesis.pdf"> Master's thesis report </a> later move to CSR, System Controller and UART core documentation,
all this info is linked at <a href="http://www.milkymist.org/mmsoc.html"> the milkymist SoC page </a>.I  still need to re-read and review code for more core i'm interested  
(Ethernet, PFPU, USB host and Mico32). But thats for later.
<br>

<br>
So far i just made a small tutorial linked to some <a href="https://github.com/kristianpaul/milkymist-avnet"> code at github</a> about how add a <a href="http://www.milkymist.org/wiki/index.php?title=How_to_make_a_simple_counter_core">
 simple counter</a>, in the wiki page to point the files needed to edit and add in the process and in someway try to expose coding style and some of verilog basis
wich btw i'm learning too with all this :). Feel free to edit or commit if you feel i missed something.
<br>
<br>

What's next?

Well i want to make a core not for the CSR Bus, may be something related to a specific processing task like FFT or something that will help procesor keep working smoth.
<br>
May be ,try explore Mico32 and add a custom instruction?..
<br>
Navre core is also interesting, mostly because USB is implemented using it too.
<br>
<br>

<br>
Time and other ongoing projets needs will hope related on next tasks.

<br>

Thanks for reading !!

<br>
<br>
PD:

<br>
hmm i missed the software part (visualization) for the milkymist basic counter example :/ thats a TODO for sure :-)





