---
layout: post
title: GPS on Nanonote
---

I got a nanonote some moths ago,
it is a copyleft device, well you can read more about 
in qi-hardware website.

There are many ideas of posible uses with the device
there is wikipedia, ogg player, some games
 and thre is  open street maps. The last
one is now accesible offline trought the nanonote and
also is linked to a gps so you can now where you are.

I saw that before? surelly yes but now in a copyleft
device.

If you want read more check the link bellow

<p> <a href="http://en.qi-hardware.com/wiki/GPS"> GPS on the nanonote</a></p>
