---
layout: post
title: Actualizacion
---

<p> Algo de tiempo sin escribir y menos en español, bueno estoy actualizando la galeria principal con nuevas fotos, espero en este año sean otras mas</p

<p> Hace unos meses antras, en noviembre del año pasado llego el makerbot cupcake una maquina de prototipado de codigo libre que me permitiria inciar la construccion de 
un reprap, que es una maquina de prototipos o impresora 3D que puede copiar la mayoria de sus partes en plastico. Bueno RepRap va muy bien asi como lo indican las fotos 
de la galeria, y como van las cosas espero este trabajando a mediados del mes de abril. Luego de esto nuevo protectos iniciaran. </p>

<p>Este año inicio con hardware copyleft, hay una propuesta muy interesante de la gente de QI Hardware, una compañia que esta generando un nuevo ecosistema de hardware
que puede ser fabricado sin importar el fabricante original, ya que sus diseños son libres y pueden ser mejorados, mas aun se espera en unos años poder tener chips que
han sido fabricados por cualquiera y de los cuales podremos saber como fueron echos ya que hay fuentes, estariamos hablando de un nuevo paso al conocido hardware libre, 
amenos para ya no depender de intel u otras compañias que fabrican chips :). EL primer producto de Qi es llamado Ben Nanonote, tiene un bajo costo y sus diseños estan 
echos usando sofware libre, asi que hay buenas cosas por venir. </p>

<p>Por ultimo comentar sobre el Hack Lab que se ha iniciado en mi cudad (Buga), por ahora somos 4 personas que estamos trabajando alrededor de tecnologias libres, arte 
intercambio de conocimiento y bueno mucho mas por venir. Aun no tenemos un espacio fisico definido para acceso al publico pero se espera tener uno pronto. LLegar a 
mas personas interesadas en compatir, crear y modificar su entorno</p>


<p>Eso es todo por ahora, espero estar escribiendo mas amenudo (aparte del micronlogging)</p>


<p> <a href="http://www.kristianpaul.org/gallery"> New Gallery</a></p>
<p> <a href="http://www.kristianpaul.org/gallery/reprap"> RepRap Gallery</a></p>
<p> <a href="http://www.kristianpaul.org/gallery/makerbot"> Makerbot</a></p>
<p> <a href="http://www.reprap.org"> RepRap</a></p>
<p> <a href="http://www.qi-hardware.com"> QI Hardware</a></p>
<p> <a href="http://liure.uk.to"> Liure Hack Lab</a></p>

