---
layout: post
title: Quick Update
---

Long time since last blog entry and lots of things happened,
well.., i did some quick posts on the <a href="http://identi.ca/kristianpaul">microblog</a>  but is not same 
as a blog entry, so here a small resume, and hopefully i'll try not get
behind in the remaining of the year and also the incoming one :)

<br>
  RepRap Mendel is done:
<br>

<a><img src="http://kristianpaul.org/gallery/reprap/.llgal/scaled_IMG_0641.JPG" ></a>

<br>
<br>

 And a  <a href="http://www.youtube.com/watch?v=HtJn5IOAZCc"> talk</a>  was given at Campus Party Colombia about it.

Also later in Bogota the same talk was given at <a href="http://www.maloka.org/corporativo/index.php?option=com_content&view=article&id=418:colombia-disena-impresora-que-replica-objetos-reales&catid=36:noticias-maloka&Itemid=123" > Maloka </a> and  weeks later in the <a href="http://www.hacklab-barranquilla.info/sfd2010/">  Sofware Freedom day</a>  in Barranquilla.
<br>
<br>

I met Wolfgang Spraul  Cparty too, place in wich he give two interesting talks about the Milkymist project and Copyleft Hardware Movement. great man he is !
<br>
<br>

I got  23 year old in Sep :p 
<br>
<br>

I was too at in really amazing event near to my town, it was about the importance of the organic Seeds and sharing knowldge of our Peasant in Colombia. I must recall that even more now that our times face issues with this "Genetically modified organism"in wich  seeds are in that way, and is a DANGER for our food autonomy and Ecosystem diversity let the corporations to take control of life. Also if i want practice permaculture in the long term i need organic Seeds and no faked ones that market starting to sell.
<br>
<br>

About hardware development i started some weeks ago a <a href="http://en.qi-hardware.com/wiki/GPS_Free_Stack" > project </a> about creating a gps free stack, i have not much to tell now, hope more soon.
<br>
<br>

I forgot to say i got  an AVNET 49usd board, (the cheapest i founded) to start some learning about the Milkymsit platform, right now i'm working in a "How to", wich is based on how to add a counter module to the SoC, more updates will come soon too.
<br>
<br>

<a><img src="http://milkymist.org/s3aevl.png" ></a>
<br>
<br>

My last event, was in Pereira a City 2hrs away from home, the event name is <a href="http://slcolombia.org/JSL2010">JSL</a> (Jornadas de Sofware Libre), wich its mission is have a space of work, discuss and link long works and ideas about long term work around Free Sofware dynamics in different fields.
<br>
<br>

I also i'm fixing my makerbot cupcake cnc printer, i bought an automatic build platform wich i hope will help me to produce reprap plastic parts kit to sell people interested (wich already contactc me asking me for parts).
<br>
<br>

Ah, i almost forgot i got a new server is an Soerkis 5501 board plus case (it was given as payment of an old debt), i hope host more stuff soon like database, blogs for friends and who know what else :D
<br>
<br>

<a><img src="http://www.soekris.com/pictures/net5501/net5501_70_BO_front_bt.jpg" ></a>
<br>
<br>

Well i think thats all for now.

