---
layout: post
title: Flisol
---

<p> La flisol (Festival latiomerica de instalacion de sofware libre) que se realizo en la ciudad de buga, el sabado 24 pasado fue todo un exito !</p>

<p>La asistencia comparada con el año pasado fue mas del doble, mucha mas gente se acerco por un disco distro libre o para una instalacion o explicacion del
proceso de instalacion.</p>

<p>Con la participacion de Alta Impedancia y Orlando Ricon, se dio pie a discusiones variadas sobre el sofware libre, la etica hacker y otros temas</p>

<p>Las tecnologias de fabricacion libre hacen su aparicion de nuevo, RepRap la fabrica libre  no puede faltar a estos eventos  y seguira asistiendo</p>

<p>Muchas gracias a todos por su asistencia, nos vemos el siguiente año</p>

<p> <a href="http://www.flickr.com/photos/altaimpedancia/"> Fotos cortesia Alta Impedancia</a></p>
<p> <a href="http://www.flisol.info"> Flisol</a></p>

