---
layout: post
title: Pratical Revolution
---

<p> I have been listening some recordings from Eben Moglen last days,
now i remenber the  words "Pratical Revolution". </p>

<p>I agree the fact that an Utopia like many we face today from socialism to capitalism, and more
are just dreams, that tend to be polluted in its process, like power that get out control
from those who said have the capabillity own it. so.. </p>

<p>In my interest about learning/reading sort of human history, somethimes we used to forgot
the role of technology in this way of looking for freedom, but as Monglen pointed, techonlogy it self,
is ireversible, and our society depends on technologies more than hundres years ago.</p>

<p>The right to read, to think, to make reflexion about our enviroment is essencial freedom to humans understand,
what we are, and what is around us, unfortunatelly   diferents economies rise in diferents situations and
now we are here facing this issues.</p>


<p>Technology is the point from wich must (i think), start changing how we acess, share and create
So lets see technology not like something we just pay for it and use.</p>

