---
layout: post
title: Gallery Updated
---

I just updated the <a href="http://kristianpaul.org/gallery/index.html"> gallery </a> with las pics taken on 2010.
<br>
All was taken using a cheap canon a470 camera wich run CHDK :-).

<br>
<br>
<a><img src="http://kristianpaul.org/gallery/reprap/.llgal/scaled_IMG_1740.JPG" ></a>
